* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: fixed;
    inset: 0;
    
    display: grid;
    place-items: center;
    grid-template-rows: 4em 1fr;
    
    font-family: system-ui;
}

canvas {
    border: solid 1px;
}

.contenedorPrincipal{
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-around;
}

.controles{
    display: flex;
    flex-direction: column;
}

.imagenTeclado{
    max-width: 100px;
    max-height: 100px;
    display: flex;
    align-self: center;
}

.divTextoControles{
    display: flex;
    flex-direction: row;
}

.textoControles{
    margin: 10px;
    text-align: initial;
}

.titulosCategorias{
    margin-bottom: 3px;
    font-weight: bold;
}